<a href="https://colab.research.google.com/github/rockbmw3/Data-Analytics-py/blob/main/ICP_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#part a
#reversing a string and deleting two random characters.
input_str = input("Enter a string: ")

char_list = list(input_str)


if len(char_list) >= 4:
    del char_list[1]
    del char_list[2]
else:
    print("String too short to delete 2 characters.")


char_list.reverse()

result_str = ''.join(char_list)
print("Resultant string:", result_str)

Enter a string: hellohemanth
Resultant string: htnameholh

In [5]:
# part b
# Take two numbers from the user
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Perform arithmetic operations
print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)

if num2 != 0:
    print("Division:", num1 / num2)
else:
    print("Division: Cannot divide by zero")

Enter first number: 3452
Enter second number: 987
Addition: 4439.0
Subtraction: 2465.0
Multiplication: 3407124.0
Division: 3.497467071935157

In [6]:
# Part 1: Replace "python" with "pythons"
sentence = input("Enter a sentence: ")
updated_sentence = sentence.replace("python", "pythons")
print("Updated sentence:", updated_sentence)

Enter a sentence: i am about to enter learning python
Updated sentence: i am about to enter learning pythons

In [7]:
# Part 2: Grade based on score
score = float(input("Enter your class score: "))

if score >= 90 and score <= 100:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
elif score < 60 and score >= 0:
    grade = "F"
else:
    grade = "Invalid score"

print("Your grade is:", grade)

Enter your class score: 82.4
Your grade is: B

In [10]:
# Given input list
x = [23, 'Python', 23.98]

# Print original list
print(x)

# Create a new list with types of each element
types_list = [type(i) for i in x]

# Print the list of types
print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [11]:
# Given Data
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Length of IT_companies
print("Length of IT_companies:", len(IT_companies))

# 2. Add 'Twitter'
IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)

# 3. Insert multiple companies
IT_companies.update(['Tesla', 'Intel', 'Adobe'])
print("After adding multiple companies:", IT_companies)

# 4. Remove one company
IT_companies.remove('Oracle')
print("After removing Oracle:", IT_companies)

# 5. Difference between remove and discard
#    remove() raises error if element not found
#    discard() does nothing if element not found
print("remove vs discard difference:")
print("- remove() throws error if item not present")
print("- discard() does nothing even if item not found")

# 6. Join A and B
print("Union of A and B:", A.union(B))

# 7. Intersection of A and B
print("Intersection of A and B:", A.intersection(B))

# 8. Is A subset of B?
print("Is A subset of B?", A.issubset(B))

# 9. Are A and B disjoint?
print("Are A and B disjoint sets?", A.isdisjoint(B))

# 10. Join A with B and B with A
print("A union B:", A.union(B))
print("B union A:", B.union(A))

# 11. Symmetric difference between A and B
print("Symmetric difference (A ^ B):", A.symmetric_difference(B))

# 12. Delete the sets completely
del IT_companies
del A
del B

# 13. Convert age list to set and compare lengths
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set (unique ages):", len(age_set))

Length of IT_companies: 7
After adding Twitter: {'IBM', 'Apple', 'Facebook', 'Twitter', 'Google', 'Amazon', 'Oracle', 'Microsoft'}
After adding multiple companies: {'Adobe', 'IBM', 'Tesla', 'Google', 'Amazon', 'Oracle', 'Microsoft', 'Intel', 'Apple', 'Facebook', 'Twitter'}
After removing Oracle: {'Adobe', 'IBM', 'Tesla', 'Google', 'Amazon', 'Microsoft', 'Intel', 'Apple', 'Facebook', 'Twitter'}
remove vs discard difference:
- remove() throws error if item not present
- discard() does nothing even if item not found
Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint sets? False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference (A ^ B): {27, 28}
Length of age list: 8
Length of age set (unique ages): 5